[submodule "themes/creative"]
	path = themes/creative
	url = git@github.com:jldevezas/hugo-creative-theme.git
[submodule "public"]
	path = public
	url = https://github.com/jldevezas/anasantosgrooming.com.git
